name: Release

on:
  push:
    branches:
      - master

    paths-ignore:
      - ".*/**"
      - "!.github/workflows/release.yaml"
      - "CHANGELOG.md"
      - "package.json"

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - uses: actions/cache@v1
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install --ci --colors --frozen-lockfile

      - name: Lint
        run: yarn run lint:ci --ci --colors

      - name: Test
        run: yarn test --ci --colors --collectCoverage

      - name: Semantic Release
        run: yarn release --ci --colors
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
